:root {
    --bg1: #0B0610;
    --bg2: #1F2833;
    --neutral: #C5C6C7;
    --action: #66FCF1;
    --secondary-action: #45A29E;
}

.mobileNavContainer {
    position: relative;
    margin-top: 75px;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1rem;
    /* border: 1px solid red; */
}

.mobileNavLink {
    font-size: 2rem;
    border-radius: 1rem;
    border: 1px solid var(--action);
    padding: 0.75rem;
}

.mobileNavLink:active{
    background-color: var(--action);
    color: var(--bg1);
}