:root {
    --bg1: #0B0610;
    --bg2: #1F2833;
    --neutral: #C5C6C7;
    --action: #66FCF1;
    --secondary-action: #45A29E;
}

.tile {
    /* border: 1px solid red; */
    background-color: var(--bg2);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 10px 10px 0px -5px var(--secondary-action)
}

.tile:hover {
    
}

.tileHeader {
    color: var(--neutral);
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.tileDate {
    margin-bottom: 0.5rem;
}

.tileDescription {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.tileLink {
    
    color: var(--action);
}