img {
    height: 600px;
}

.bannerSection {
    /* max-width: 1200px; */
    width: 100vw;
    margin: 20px auto;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    /* border: 1px solid red; */
}

.bannerImageContainer {
    padding: 10px 0;
}

.bannerImageContainer img {
    border-radius: 1em;
}

.name {
    font-size: 8em;
    font-weight: 700;
}

.skills {
    font-size: 2em;
    font-weight: 700;
}

.bioSection {
    /* border: 1px solid blue; */
    width: 50vw;
}

.bioText {
    margin: 10px 0;
    font-size: 1.25em;
}

.bioText p {
    margin-top: 10px;
}