img {
    height: 400px;
}

.bannerSection {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
}

.bannerImageContainer {
    padding: 10px;
}

.bannerImageContainer img {
    border-radius: 1em;
}