:root {
    --bg1: #0B0610;
    --bg2: #1F2833;
    --neutral: #C5C6C7;
    --action: #66FCF1;
    --secondary-action: #45A29E;
}

.bannerSection {
    /* max-width: 1200px; */
    width: 100vw;
    margin: 2rem auto;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

    /* border: 1px solid red; */
}

.bannerImageContainer {
    padding: 10px 0;
}

.bannerImageContainer img {
    border-radius: 1em;
    height: 600px;
}

.name {
    font-size: 8rem;
    font-weight: 700;
}

.skills {
    font-size: 2em;
    font-weight: 700;
}

.bioSection {
    /* border: 1px solid blue; */
    width: 50vw;
}

.bioText {
    margin: 10px 0;
    font-size: 1.25em;
}

.bioText p {
    margin-top: 0.75rem;
}

.displayShelf {
    /* Comment out "display:none;" if you decide you'd like the display shelf again */
    display: none;
    margin-top: 2rem;
}

.viewPortfolio {
    display: flex;
    justify-content: center;
}

.viewPortfolio a {
    margin-top: 2rem;
    padding: 1rem;
    background-color: var(--action);
    color: var(--bg2);
    border: 1px solid var(--action);
    border-radius: 1rem;

    font-size: 2rem;
    font-weight: 500;
}

.viewPortfolio a:hover {
    color: var(--action);
    background-color: var(--bg1);
    border: 1px solid var(--action);
}

.subheader {
    font-size: 2em;
    font-weight: 700;
    text-align: center;
}

.bioTextMobile {
    display: none;
}

.bioTextMobile {
    margin: 10px 0;
    font-size: 1.25em;
}

.bioTextMobile p {
    margin-top: 0.75rem;
}

@media screen and (max-width: 400px) {
    .bioText {
        display: none;
    }

    .bioTextMobile {
        display: block;
    }

    .bannerSection {
        width: 90vw;
        /* border: 1px solid red; */
    }

    .bannerImageContainer img {
        height: 400px;
    }

    .bioSection {
        /* border: 1px solid blue; */
        width: 90vw;
    }

    .name {
        font-size: 5rem;
    }

    .viewPortfolio a {
        font-size: 1.5rem;
    }
}