:root {
    --bg1: #0B0610;
    --bg2: #1F2833;
    --neutral: #C5C6C7;
    --action: #66FCF1;
    --secondary-action: #45A29E;
}

.navContainerDesktop {
    width: 600px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    padding: 20px 0;

    border-bottom: 1px solid var(--bg2);

    /* border: 1px solid red; */
}

.navContainerDesktop a {
    padding: 0.5rem;
}

.active {
    border: 1px solid var(--neutral);
    border-radius: 0.5rem;

}

/* a {
    text-decoration: none;
} */

.navContainerMobile {
    display: none;
}

@media screen and (max-width: 400px) {
    .navContainerDesktop {
        display: none;
    }
    .navContainerMobile {
        padding: 0.5rem;
        font-size: 1.5rem;

        position: fixed;
        z-index: 1;
        background-color: var(--bg1);
        width: 95vw;
        top: 0;
        /* border: 1px solid red; */


        display: flex;
        justify-content: space-between;
    }
}