:root {
    --bg1: #0B0610;
    --bg2: #1F2833;
    --neutral: #C5C6C7;
    --action: #66FCF1;
    --secondary-action: #45A29E;
}

.navContainerDesktop {
    width: 600px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    gap: 20px;

    padding: 20px 0;

    border-bottom: 1px solid var(--bg2);

    /* border: 1px solid red; */
}

/* a {
    text-decoration: none;
} */

.navContainerMobile {
    display: none;
}

@media screen and (max-width: 400px) {
    .navContainerDesktop {
        display: none;
    }
    .navContainerMobile {
        display: block;
    }
}