.navContainerDesktop {
    
}

.navContainerMobile {
    display: none;
}

@media screen and (max-width: 400px) {
    .navContainerDesktop {
        display: none;
    }
    .navContainerMobile {
        display: block;
    }
}