/* .footerContainer {
    border: 1px solid red;

    width: 600px;
    margin: 0 auto;
    padding: 20px 0;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.socialsContainer {
    display: flex;
    justify-content: space-around;
    text-align: center;


    list-style: none;
    font-size: 2em;

    border: 1px solid blue;
} */

.footerContainer {
    /* border: 1px solid red; */
    border-top: 1px solid var(--bg2);
    margin: 0 auto;
    margin-top: 20px;
    width: 400px;
    text-align: center;
    padding: 30px;
}

.socialsContainer {
    /* border: 1px solid red; */
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    font-size: 2em;

    margin: 0;
}

h1 {
    font-size: 1.5em;
}