:root {
    --bg1: #0B0610;
    --bg2: #1F2833;
    --neutral: #C5C6C7;
    --action: #66FCF1;
    --secondary-action: #45A29E;
}

.footerContainer {
    /* border: 1px solid red; */
    border-top: 1px solid var(--bg2);
    margin: 0 auto;
    margin-top: 2rem;
    width: 400px;
    text-align: center;
    padding: 30px;
}

.socialsContainer {
    /* border: 1px solid red; */
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    font-size: 2em;

    margin: 0;
}

.footerH1 {
    font-size: 1.5rem;
}

@media screen and (max-width: 400px) {
    .footerContainer {
        /* border: 1px solid red; */
        width: 75vw;
    }


}